html {
  background: url(../Images/Background.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

body {
  color: #fafafa;
  font-family: sans-serif;
}

h1 {
  display: inline;
  text-transform: capitalize;
  font-family: serif;
}

h2 {
  margin: 10px 0 0;
  font-family: serif;
}

h3 {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

a {
  font-size: 12px;
  color: #fafafa;
  cursor: pointer;
}

span {
  text-transform: capitalize;
  margin: 0;
}

header {
  background-color: rgba(86, 170, 114, 0.8);
  margin: -8px;
  padding: 20px;
  position: sticky;
  top: -1px;
  z-index: 2;
}

nav {
  display: inline;
}

header a,
.back_button {
  margin-left: 20px;
  text-decoration: none;
  background-color: #56aa72;
  padding: 8px 17px;
}

header a {
  float: right;
  text-align: right;
}

nav label {
  float: right;
  margin-top: 5px;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  display: none;
}

::-webkit-datetime-edit {
  color: grey;
}

.button {
  padding: 6px 15px;
  background-color: #57aba9;
  border: 2px solid #57aba9;
  color: #fafafa;
}

.error {
  width: 100%;
  display: block;
  text-align: right;
  margin: -29px 0 0;
  padding-bottom: 10px;
  color: red;
}

#logo_and_search {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img,
#location_button {
  margin-left: auto;
  margin-right: auto;
}

img,
#location_button,
#review_button {
  display: block;
}

form {
  padding-top: 10px;
}

#search {
  width: 30%;
  padding: 8px 15px;
  background: #e3ffff;
  border: 0 solid #e3ffff;
}

#suburb_options {
  text-align: center;
  text-transform: capitalize;
}

.dropdown {
  color: grey;
  margin-left: -4px;
  padding-top: 7px;
  padding-bottom: 7.5px;
  background: #e3ffff;
  border: 0 solid #e3ffff;
}

#search_button {
  position: relative;
  left: -4px;
}

#location_button {
  margin-top: 20px;
  visibility: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  vertical-align: middle;
  background: #57aba9;
}

th {
  background-color: #3d7a78;
}

th,
td {
  border: 1px solid #1a3432;
}

#results_table {
  text-align: center;
  text-transform: capitalize;
}

#results_table td {
  height: 60px;
}

#results_table th {
  height: 70px;
}

#individual_map,
#search_map {
  margin-top: 40px;
  height: 300px;
}

#individual_map {
  width: 400px;
}

#search_map {
  width: 100%;
}

#map_container {
  width: 100%;
  position: fixed;
}

#search_map {
  margin: 0 0 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
}

#search_map,
#search_map a {
  color: black;
}

#content {
  top: 20%;
}

.back_button {
  margin-left: 0;
  float: left;
  text-align: left;
}

#reviews {
  top: 24%;
  right: 0;
}

#review_button {
  margin-top: 5px;
}

#reviews table {
  width: 400px;
}

#reviews td:first-child {
  text-align: center;
}

#reviews th,
#reviews td {
  height: 60px;
  padding: 10px;
}

#reviews,
#content {
  position: absolute;
  padding: 0 40px;
}

#content h2 {
  margin-bottom: 2px;
}

#reviews form {
  padding-top: 20px;
}

.nocaps {
  text-transform: none;
}

#reviews form textarea {
  width: 394px;
  margin-top: 10px;
}

#rating_label {
  margin-top: 0;
}

#rating label {
  cursor: pointer;
  margin: 0 20px 0 0;
  font-weight: 600;
}

#rating input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: orange;
}

form label {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 20px;
}

.gender {
  display: block;
}

.radio_button {
  display: inline;
  margin-right: 84px;
}

#login {
  right: 0;
}

#register {
  left: 0;
}

#login,
#register {
  position: fixed;
  margin: 0 10%;
  top: 15%;
}

.input {
  display: block;
  width: 320px;
  height: 30px;
  padding-left: 10px;
  background: #e3ffff;
  border: 0 solid #e3ffff;
}

#register_button,
#login_button {
  display: block;
  margin-top: 15px;
}

.messagebox {
  border: none;
  color: white;
  background-color: #90a4ae;
  z-index: 1;
}

#messagebox_register {
  top: 40%;
  margin-left: 12%;
}

#messagebox_login {
  top: 30%;
  margin-right: 12%;
}

#ok_button {
  display: block;
  margin: 5% 40% 0;
}

.logout {
  position: fixed;
  text-align: center;
  font-size: 100px;
  color: #57aba9;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-device-width: 1024px) {
  #login,
  #register {
    margin: 0 2%;
    top: 20%;
  }

  #messagebox_register {
    margin-left: 5%;
  }

  #messagebox_login {
    margin-right: 5%;
  }
}
